@media only screen and (min-width: 2000px){
    h1 {
    font-size: 2vw;
    
    }
    h2 {
    font-size: 1vw;
    
    }
    h3 {
    font-size: 1vw;
    
    }
    p {
    font-size: 1vw;
    
  }}