


body {
    background-color: black;
    font-family: 'Inknut Antiqua', serif;
    max-width: 1600px;  
}

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

video::-webkit-media-controls {
    display: none;
  }
.video-hero {
  background: tomato;
  width: 100%;
  height: 95vh;
  object-fit: cover;
  }
.video-hero__cortinilla {
    background: rgba(0,0,0,0.7);
    height: 100vh;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 0;
  }
  #contactus {
    margin: auto;
    
  }

  img#dibujos {
    margin: auto;
    margin: 12px;
    max-width: 250px;
  }
header {
  box-sizing: border-box;
}




