@import "variables.scss";
@import "colores.scss";
@import "medias.scss";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

body {
  background-color:$bg-c;
  font-family: $tx_st;
  margin: auto;
  max-width: 1600px;  
}
video::-webkit-media-controls {
  display: none;
}
.video-hero {
background:$bg-c;
width: 100%;
height: 95vh;
margin: 2px 2px;
object-fit: cover;
}
.video-hero__cortinilla {
  background: rgba(0,0,0,0.7);
  height: 100vh;
  position: absolute;
  margin: 2px 2px;
  width: 100%;
  top: 0;
  left: 0;
}

.dibujos  {
  margin:30px;
  max-width: 25vw;

}
header {
  box-sizing: border-box;
}
