@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

body {
  background-color:$bg-c;
  font-family: $tx_st;
  max-width: 100vw;  
}
video::-webkit-media-controls {
  display: none;
}
.video-hero {
background:$bg-c;
width: 100%;
height: 95vh;
margin: 2px 2px;
object-fit: cover;
}
.video-hero__cortinilla {
  background: rgba(0,0,0,0.7);
  height: 100vh;
  position: absolute;
  margin: 2px 2px;
  width: 100%;
  top: 0;
  left: 0;
}
img  {
  margin: auto;
  margin: 12px;
  max-width: 25vw;
}
.dibujos {
  max-width: 25vw;
  margin: auto;
  margin: 12px;

}
header {
  box-sizing: border-box;
}
@media only screen and (min-width: 1200px){
  h1 {
  font-size: 3vw;
  }
  h2 {
  font-size: 2vw;
  }
  h3 {
  font-size: 1vw;
  }
  p {
  font-size: 1vw;
  }}
  @media only screen and (max-width: 1000px){
  .dibujos img {
   max-width: 35vw;
  }}
